body {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: space-between;

	background-color: black;
	color: white;
	height: 100vh;
	max-height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;

	/*font-family: Roboto;*/
	font-family: Verdana, Roboto;
}

* {
	transition: border-color .1s linear,
		opacity .15s linear;
}

select{
	position: absolute;
	top: 2vmax;
	right: 8vmax;

	color: white;
	background-color: black;
}

.preferenceButton {
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/6d/Windows_Settings_app_icon.png');
	background-size: cover;
	filter: invert(1);
	background-repeat: no-repeat;
	border: none;

	opacity: .8;
	margin: 0;
	position: absolute;
	top: 2vmax;
	right: 2vmax;

	width: 3vmax;
	height: 3vmax;
}

.preferenceButton:hover, .closePreferenceButton:hover {
	opacity: 1;
	transform: scale(1.1);
}

.closePreferenceButton, .doneButton {
	margin: 0;
	position: relative;
	top: 1vh;
	left: 1vh;

	background-image: url('https://svgsilh.com/svg_v2/1727490.svg');
	background-size: cover;
	background-repeat: no-repeat;

	height: 2vh;
	width: 2vh;

	filter: invert(1);

	border: none;
}

.preferenceMenu {
	position: absolute;
	right: -37vh;
	/*right: 0;*/
	z-index: 100;

	background: #333;
	height: 100vh;
	width: 33vh;

	border-left: .1vh solid white;

	transition: right .08s linear;
}

.preferenceMenu ul {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: nowrap;
	align-items: flex-end;
	padding: 0 1vh 0 0;

	height: 55vh;
}

.preferenceMenu ul li {
	color: red;
	font-size: 2vh;
	list-style: none;

}

input[type=checkbox] {
	width: 2vh;
	height: 2vh;
	margin-left: 2vh;
}

li input {
	font-size: 1.7vh;
	width: 5vh;
	height: 1.7vh;

	margin: 0 1.5vh 0 auto;
}

h1	{
	font-size: 3.2vmax;
	margin: 0;
	color: #ddd;

	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1vw;
}


nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 10vw;

	height: 84vh;
	margin-left: 4vmin;
}


#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 90%;
	margin-right: 10vmax;
	margin-bottom: 3vh;



	flex: 2 1 1000px;

	/*margin: 2vmax 18vmax 0 20vmax;*/
}

nav button {
	margin: 0;
	border-radius: 0%;
	flex: 1 1 11vh;
	margin: .5vh auto;
	width: 11vh;
	font-size: 1.5vh;
}

nav button:hover {
	font-weight: bold;
	border-color: #8727b8;
}

h2, button {
	font-size: 3.5vh;
	margin: 13vh 0 3vh 0;
	padding: .5vh;
	border: 3px solid transparent;

	letter-spacing: 3px;
}

button {
	background-color: transparent;
	color: #ddd;
	border: .2vmax solid #ddd;

	text-transform: capitalize;
}

button:focus {
	outline: none;
}

.lvl8 {
	display: none;
	font-size: 1.1vh;

	color: orange;
	border-color: orange;
}


.typingArea {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50vmax;

	flex: .1 1 1vh;
}

.fade {
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, 
    from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.prompt {
	position: relative;
	white-space: nowrap;
	font-size: 2.3vmax;
	padding: 0 20vh 0 0;
	width: 28vmax;
	color: white;
	transition: left .1s linear;
}

.prompt .word {
	padding: 0;
	margin: 0 0 0 0;
	white-space: nowrap;
}

h2 {
	padding: 0;
}

.paragraph {
	position: relative;
	/*left: -5vmax !important;*/
	color: grey;
	white-space: normal;
	word-wrap: break-word;
	padding: 0;
	width: 100%;
	font-size: 1.8vmax;
	height: 6vmax;
	/*overflow: hidden;*/
}

.line, .word {
	margin: 0;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
}

/* is this actually styling anything? Maight be able to delete*/
#wordChain {
	color: red;
	transition: left .4s linear;
}

#resetButton {
	margin: 3vh auto;
	width: 40%;
}

input {
	height: 4vmax;

	font-size: 3vmax;
}



#scoreAndClock {
	display: flex;
	justify-content: space-around;

	margin: 3vh 0 0 0;

	font-size: 4vmax;
}

#testResults {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	flex: 1 1 8vh;
}


/*____________________Slider________________________*/

#mappingToggle {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: absolute;
	bottom: 3vh;
	right: 0vh;
	width: 15vw;
}

#mappingToggle h6 {
	font-size: 1vw;
	margin: 0 0 2vmin 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 7.5vmin;
  height: 4.5vmin;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
 	position: absolute;
 	cursor: pointer;
 	top: 0;
 	left: 0;
 	right: 0;
 	bottom: 0;
 	background-color: #8727b8;
 	-webkit-transition: .4s;
 	transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 3vmin;
  width: 3vmin;
  left: .75vmin;
  bottom: .75vmin;
  background-color: white;
  -webkit-transition: .4s;
  transition: .2s;
}

input:checked + .slider {
  background-color: grey;
}

input:focus + .slider {
  box-shadow: 0 0 1px purple;
}

input:checked + .slider:before {
  -webkit-transform: translateX(3vmin);
  -ms-transform: translateX(3vmin);
  transform: translateX(3vmin);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/*___________cheatsheet___________*/

#cheatsheet {
	display: flex;
	flex-direction: column;
	justify-content: center;

	margin: 0;
	padding: none;
	white-space: nowrap;
	
	/*background: pink;*/
}

.row {
	display: flex;
	justify-content: space-between;
	height: 3.6vmax;
	width: 50vmax;
}

.key, .cKey {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: .2vmax solid purple;
	height: 3vmax;
	width: 5.7%;

	opacity: .5;

	border-bottom-right-radius: 7%;
	border-bottom-left-radius: 7%;

	vertical-align: top;
}

.letter {
	display: block;
/*	width: 50%;
	height: 50%;*/
	/*margin: 17% auto;*/
	font-size: 2.2vh;
	font-weight: bold;

	text-transform: uppercase;
}

.big {
	width: 8%;
}

.bigger {
	width: 10%;
}

.biggest {
	width: 12%;
}

.space {
	width: 39%;
}

.homeRow {
	border-color: orange;
	color: orange;
	opacity: 1;
}

.currentLevelKeys {
	border-color: green;
	color: green;
	opacity: 1;
	filter: brightness(1.5);
}

.active {
	border-color: #8727b8;
	color: #8727b8;
	opacity: 1;
	filter: brightness(1.5);
}


.cheatsheetContainer {
	display: flex;
	justify-content: center;
	align-items: start;
	width: 100%;
	flex: .6 .1 10vh;
	margin-bottom: 5vh;
}

.openUIButton {
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/cc/Edit_Notepad_Icon.svg');
	background-size: cover;
	filter: invert(1);

	position: relative;
	right: 0;
	top: -.3vmax;
	margin: 0;

	border: none;

	height: 2.5vmax;
	width: 2.5vmax;

	display: none;
}

.openUIButton:hover {
	transform: scale(1.2);
}

/*__________________custom ui keyboard________________*/

#customInput {
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 27vmax;
	z-index: 100;

	border: .2vmax solid #444;
	background-color: #333;
	height: 34vmax;
	width: 60vmax;

	display: none;
	transition: opacity 3s linear;
}

#inputKeyboard {
	display: block;
	margin: 4vmax 2vmax 0 2vmax;
	width: 93%;
	white-space: nowrap;
}

#inputShiftKeyboard {
	display: block;
	margin: 4vmax 2vmax 0 2vmax;
	width: 93%;
	white-space: nowrap;
	display: none;
}

#inputShiftKeyboard .cKey{ 
	border-color: green;
}

#inputKeyboard .row, #inputShiftKeyboard .row {
	width: 100%;
}

.cKey {
	border-color: black;
}

.cKey:hover {
	border-color: white;
}

.cKey .letter {
	z-index: -1;
	text-transform: none;
	font-size: 2vmax;
}

.selectedInputKey, .selectedInputKey:hover {
	border-color: white;
	opacity: .9;
}

.pulse {
	animation: pulse .8s infinite;
}


#selectedInputKey {
	background: purple;
}

#customUIKeyInput {
	opacity: 0;
	width: 0;
	height: 0;
}

.doneButton {
	background-size: cover;
	background-repeat: no-repeat;

	top: 1vmax;
	left: 1vmax;
	height: 1vmax;
	width: 1vmax;
	padding: 1vmax;
	margin: 0;
}

.doneButton:hover {
	transform: scale(1.2);
}

/*__________________custom level select________________*/
#customUILevelSelect {
	display: flex;
	margin: 2vmax auto 10vmax auto;
	background: red .2;

	height: 10vmax;
	width: 100%;
}


.customUILevelButton {
	font-size: 2vmax;
	margin: 2vmax auto;
	opacity: .8;

	background-color: #191919;
}

.customUILevelButton:hover {
	opacity: 1;
	filter: brightness(1.5);
}

.currentCustomUILevel {
	border-color: green;
	color: green;
	background-color: #2f3f2f;
	opacity: 1;
} 


/*____________________Toggle-able classes______________*/

.inactive {
	opacity: .6;
	border-color: #8727b8;
}

.noDisplay {
	display: none;
}

.visible {
	display: block;
}

.transparent {
	opacity: 0;
}

.currentLevel {
	color: #8727b8;
	border-color: #8727b8;
	font-weight: bold;
}

.hide-me {
	z-index: -100;
  animation: hideme .5s linear forwards;
}
@keyframes hideme {
  0% {
  	left: 0;
  }
  100% {
  }
}

/*___________________________ANIMATIONS________________________*/

.slideLeft {
	position: relative;
	color: blue;
	animation: slideLeft .2s 1 linear;
	animation-fill-mode: forwards;
}

.slideOff {
	position: relative;
	color: blue;
	animation: slideOff .2s 1 linear;
	animation-fill-mode: forwards;
}

@keyframes pulse {
	0%   { 
		opacity: 1;
	}
	60% { 
		opacity: 1;
	}
	100% { 
		opacity: 0;
	}
}

@keyframes slideLeft {
	0%   { 
		left: 0;
	}
	100% { 
		color: red;
		left: -50px;
	}
}

@keyframes slideOff {
	0%   { 
		left: 0;
	}
	100% { 
		color: red;
		left: -100px;
	}
}

















